In [41]:
import pandas as pd

In [42]:
df = pd.read_csv("https://raw.githubusercontent.com/luislauriano/AceleraDev_DataScience/master/data/desafio1.csv")

In [43]:
df.head()

   RowNumber  ... membro_ativo
0          1  ...            1
1          2  ...            1
2          3  ...            0
3          4  ...            0
4          5  ...            1

[5 rows x 12 columns]

In [44]:
df.describe().T

                           count          mean  ...         75%        max
RowNumber                 7000.0   3500.500000  ...    5250.250    7000.00
pontuacao_credito         7000.0    649.787000  ...     717.000     850.00
idade                     7000.0     38.892714  ...      44.000      92.00
nivel_estabilidade        7000.0      5.010286  ...       7.250      10.00
saldo_conta               7000.0  76471.883751  ...  127537.155  250898.09
numero_produtos           7000.0      1.526000  ...       2.000       4.00
possui_cartao_de_credito  7000.0      0.703286  ...       1.000       1.00
membro_ativo              7000.0      0.512143  ...       1.000       1.00

[8 rows x 8 columns]

#**Objetivo do desafio**
Queremos conhecer melhor nossos clientes por estado. Para isso, iniciamos uma análise na pontuação de crédito. Para realizar a verificação inicial, precisamos de alguns valores. Os valores são a média, a mediana, a moda e o desvio padrão da pontuação de crédito.

In [45]:
# Função para pegar os valores:
def get_values(df):
    return {'moda': df.mode()[0], 'mediana': df.median(), 'media': df.mean(), 'desvio_padrao': df.std()}

In [46]:
#Agrupamento da pontuacao de credito por estado ; Aplicando os valores de mode, mediana e media
df_agrupamento = df['pontuacao_credito'].groupby(df['estado_residencia']).apply(get_values).unstack()

In [47]:
df_agrupamento

                    moda  mediana       media  desvio_padrao
estado_residencia
PR                 850.0    650.0  648.961294      98.607186
RS                 850.0    650.0  651.105143      95.136598
SC                 850.0    653.0  649.537653      97.233493

In [48]:
# Criando o arquivo de resposta:
df_agrupamento.to_json('submission.json', orient='index')