# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [174]:
import pandas as pd
import numpy as np

In [175]:
df = pd.read_csv("black_friday.csv")

## Inicie sua análise a partir daqui

In [176]:
df.head()

   User_ID Product_ID Gender  ... Product_Category_2  Product_Category_3 Purchase
0  1000001  P00069042      F  ...                NaN                 NaN     8370
1  1000001  P00248942      F  ...                6.0                14.0    15200
2  1000001  P00087842      F  ...                NaN                 NaN     1422
3  1000001  P00085442      F  ...               14.0                 NaN     1057
4  1000002  P00285442      M  ...                NaN                 NaN     7969

[5 rows x 12 columns]

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [177]:
def q1():
    return df.shape

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [178]:
def q2():
    df_gender = df['Gender'] == 'F'  
    df_age = df['Age'] == '26-35'
    query = df[df_gender & df_age].shape[0]
    
    return query

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [179]:
def q3():
    return df['User_ID'].nunique()

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [180]:
def q4():
    return df.dtypes.value_counts().shape[0]

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [181]:
def q5():
    # Retorne aqui o resultado da questão 5.
    total_de_linhas = df.shape[0]
    total_de_linhas_sem_na = df.dropna().shape[0]
    resultado = (total_de_linhas - total_de_linhas_sem_na) / total_de_linhas
    return resultado

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [182]:
def q6():
    # Retorne aqui o resultado da questão 6.
    return int(df.isna().sum().max())

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [183]:
def q7():
    # Retorne aqui o resultado da questão 7.
    coluna_sem_null = df['Product_Category_3'].dropna(inplace=True)
    frequencia_coluna = df['Product_Category_3'].mode()

    return int(frequencia_coluna)

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [184]:
def q8():
    # Retorne aqui o resultado da questão 8.
    coluna_purchase = df['Purchase']
    normalizacao_da_coluna = (coluna_purchase - coluna_purchase.min()) / (coluna_purchase.max() - coluna_purchase.min())
    return float(normalizacao_da_coluna.mean())

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [185]:
def q9():
    # Retorne aqui o resultado da questão 9.
    coluna_purchase = df['Purchase']
    padronizacao_da_coluna = (coluna_purchase - coluna_purchase.mean()) / coluna_purchase.std()
    return padronizacao_da_coluna[(-1 <= padronizacao_da_coluna) & (padronizacao_da_coluna <= 1)].count()

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [186]:
def q10():
    # Retorne aqui o resultado da questão 10.
    colunas = df[['Product_Category_2', 'Product_Category_3']]
    colunas = colunas[colunas['Product_Category_2'].isna()]
    return colunas['Product_Category_2'].equals(colunas['Product_Category_3'])