# AceleraDev Codenation - Semana 2

### Túlio Vieira de Souza | Data Scientist

## Manipulando dados

In [ ]:
#Importando os pacotes
import pandas as pd
import numpy as np

In [ ]:
#acessando o help dos pacotes
pd?

### Dicionarios

In [ ]:
#Criando um dicionário com os dados
dados = {'canal_venda' : ['facebook', 'twitter', 'instagram', 'linkedin', 'facebook'],
        'acessos': [100, 200, 300 ,400, 500],
        'site': ['site1', 'site1', 'site2', 'site2', 'site3'],
        'vendas': [1000.52, 1052.34, 2002, 5000, 300 ]}

In [ ]:
#para printar o dicionáario
dados

{'acessos': [100, 200, 300, 400, 500],
 'canal_venda': ['facebook', 'twitter', 'instagram', 'linkedin', 'facebook'],
 'site': ['site1', 'site1', 'site2', 'site2', 'site3'],
 'vendas': [1000.52, 1052.34, 2002, 5000, 300]}

In [ ]:
#verificando o tipo do dicionario
type(dados)

dict

In [ ]:
#Acessando as chaves do meu dicionario
dados.keys()

dict_keys(['canal_venda', 'acessos', 'site', 'vendas'])

In [ ]:
dados.values()

dict_values([['facebook', 'twitter', 'instagram', 'linkedin', 'facebook'], [100, 200, 300, 400, 500], ['site1', 'site1', 'site2', 'site2', 'site3'], [1000.52, 1052.34, 2002, 5000, 300]])

In [ ]:
#Acessando uma chave especifica
dados['site']

['site1', 'site1', 'site2', 'site2', 'site3']

In [ ]:
#Acessando uma posicao especifica de um dicionario
dados['acessos'][2]

300

In [ ]:
#Acessando uma posicao especifica de um dicionario
dados['canal_venda'][2]

'instagram'

In [ ]:
#Acessando uma posicao especifica de um dicionario
dados['canal_venda'][:3]

['facebook', 'twitter', 'instagram']

### Listas

In [ ]:
type([1,2,3])

list

In [ ]:
#Criando uma lista
lista = [200, 250 , 300 ,800, 200]

In [ ]:
#printando a lista
lista

[200, 250, 300, 800, 200]

In [ ]:
#Vendo valores especificos
lista[1]

250

In [ ]:
#fatia da lista
lista[:3]

[200, 250, 300]

In [ ]:
# Adicionando a lista ao dicionario 
dados['lista'] = lista

In [ ]:
dados

{'acessos': [100, 200, 300, 400, 500],
 'canal_venda': ['facebook', 'twitter', 'instagram', 'linkedin', 'facebook'],
 'lista': [200, 250, 300, 800, 200],
 'site': ['site1', 'site1', 'site2', 'site2', 'site3'],
 'vendas': [1000.52, 1052.34, 2002, 5000, 300]}

### DataFrames

In [ ]:
dados

{'acessos': [100, 200, 300, 400, 500],
 'canal_venda': ['facebook', 'twitter', 'instagram', 'linkedin', 'facebook'],
 'lista': [200, 250, 300, 800, 200],
 'site': ['site1', 'site1', 'site2', 'site2', 'site3'],
 'vendas': [1000.52, 1052.34, 2002, 5000, 300]}

In [ ]:
#Criar um data frame a partir de um dict
dataframe = pd.DataFrame(dados)

In [ ]:
#acessando o dataframe
dataframe

  canal_venda  acessos   site   vendas  lista
0    facebook      100  site1  1000.52    200
1     twitter      200  site1  1052.34    250
2   instagram      300  site2  2002.00    300
3    linkedin      400  site2  5000.00    800
4    facebook      500  site3   300.00    200

In [ ]:
#printando os primeiros casos do dataframe
dataframe.head(2)

  canal_venda  acessos   site   vendas  lista
0    facebook      100  site1  1000.52    200
1     twitter      200  site1  1052.34    250

In [ ]:
#Verificando o formato do dataframe
dataframe.shape

(5, 5)

In [ ]:
QQRNOME = dataframe

In [ ]:
QQRNOME.shape

(5, 5)

In [ ]:
type(QQRNOME)

pandas.core.frame.DataFrame

In [ ]:
#Verificando o indice do dataframe
dataframe.index

RangeIndex(start=0, stop=5, step=1)

In [ ]:
#Verificando os tipos dos dados do dataframe
dataframe.dtypes

canal_venda     object
acessos          int64
site            object
vendas         float64
lista            int64
dtype: object

In [ ]:
dataframe.dtypes.value_counts()

int64      2
object     2
float64    1
dtype: int64

In [ ]:
#Verificando se existem valores faltantes
dataframe.isna()

   canal_venda  acessos   site  vendas  lista
0        False    False  False   False  False
1        False    False  False   False  False
2        False    False  False   False  False
3        False    False  False   False  False
4        False    False  False   False  False

In [ ]:
dataframe.isnull()

   canal_venda  acessos   site  vendas  lista
0        False    False  False   False  False
1        False    False  False   False  False
2        False    False  False   False  False
3        False    False  False   False  False
4        False    False  False   False  False

In [ ]:
#printando os nomes das colunas
dataframe.columns

Index(['canal_venda', 'acessos', 'site', 'vendas', 'lista'], dtype='object')

In [ ]:
#Acessando uma coluna especifica
dataframe['canal_venda']

0     facebook
1      twitter
2    instagram
3     linkedin
4     facebook
Name: canal_venda, dtype: object

In [ ]:
# Criando uma nova coluna
dataframe['nova_coluna'] = [1, 2, 3, 4, 5]

In [ ]:
dataframe

  canal_venda  acessos   site   vendas  lista  nova_coluna
0    facebook      100  site1  1000.52    200            1
1     twitter      200  site1  1052.34    250            2
2   instagram      300  site2  2002.00    300            3
3    linkedin      400  site2  5000.00    800            4
4    facebook      500  site3   300.00    200            5

In [ ]:
dataframe.columns

Index(['canal_venda', 'acessos', 'site', 'vendas', 'lista', 'nova_coluna'], dtype='object')

In [ ]:
# Removendo colunas
dataframe.drop(columns = ['acessos','site', 'canal_venda'])

    vendas  lista  nova_coluna
0  1000.52    200            1
1  1052.34    250            2
2  2002.00    300            3
3  5000.00    800            4
4   300.00    200            5

In [ ]:
dataframe

  canal_venda  acessos   site   vendas  lista  nova_coluna
0    facebook      100  site1  1000.52    200            1
1     twitter      200  site1  1052.34    250            2
2   instagram      300  site2  2002.00    300            3
3    linkedin      400  site2  5000.00    800            4
4    facebook      500  site3   300.00    200            5

In [ ]:
#Mostrando as colunas
dataframe.columns

Index(['canal_venda', 'acessos', 'site', 'vendas', 'lista', 'nova_coluna'], dtype='object')

In [ ]:
#Acessando valores especificos
dataframe['acessos'][1]

200

In [ ]:
#Acessando fatia de coluna especifica
dataframe['canal_venda'][:2]

0    facebook
1     twitter
Name: canal_venda, dtype: object

In [ ]:
dataframe

  canal_venda  acessos   site   vendas  lista  nova_coluna
0    facebook      100  site1  1000.52    200            1
1     twitter      200  site1  1052.34    250            2
2   instagram      300  site2  2002.00    300            3
3    linkedin      400  site2  5000.00    800            4
4    facebook      500  site3   300.00    200            5

In [ ]:
### Fatiando os dados usando o iloc (linhas | colunas)
dataframe.iloc[3:, 4:]

   lista  nova_coluna
3    800            4
4    200            5

In [ ]:
dataframe

  canal_venda  acessos   site   vendas  lista  nova_coluna
0    facebook      100  site1  1000.52    200            1
1     twitter      200  site1  1052.34    250            2
2   instagram      300  site2  2002.00    300            3
3    linkedin      400  site2  5000.00    800            4
4    facebook      500  site3   300.00    200            5

In [ ]:
#Fatiar os dados usando o loc (indice)
dataframe.loc[:3]

  canal_venda  acessos   site   vendas  lista  nova_coluna
0    facebook      100  site1  1000.52    200            1
1     twitter      200  site1  1052.34    250            2
2   instagram      300  site2  2002.00    300            3
3    linkedin      400  site2  5000.00    800            4

In [ ]:
#Selecionando colunas especificas
dataframe[['canal_venda', 'vendas']]

  canal_venda   vendas
0    facebook  1000.52
1     twitter  1052.34
2   instagram  2002.00
3    linkedin  5000.00
4    facebook   300.00

In [ ]:
#Passando os valores atraves de lista
filtro = ['canal_venda', 'acessos']

Para determinar as colunas que iremos trabalhar

In [ ]:
dataframe[filtro]

  canal_venda  acessos
0    facebook      100
1     twitter      200
2   instagram      300
3    linkedin      400
4    facebook      500

In [ ]:
# Usando o metodo info()
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   canal_venda  5 non-null      object
 1   acessos      5 non-null      int64
 2   site         5 non-null      object
 3   vendas       5 non-null      float64
 4   lista        5 non-null      int64
 5   nova_coluna  5 non-null      int64
dtypes: float64(1), int64(3), object(2)
memory usage: 368.0+ bytes

In [ ]:
dataframe

  canal_venda  acessos   site   vendas  lista  nova_coluna
0    facebook      100  site1  1000.52    200            1
1     twitter      200  site1  1052.34    250            2
2   instagram      300  site2  2002.00    300            3
3    linkedin      400  site2  5000.00    800            4
4    facebook      500  site3   300.00    200            5

In [ ]:
#Pivotando os dados (coluna)
aux = dataframe.pivot(index = 'canal_venda', columns='site', values='acessos')

In [ ]:
aux.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, facebook to twitter
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   site1   2 non-null      float64
 1   site2   2 non-null      float64
 2   site3   1 non-null      float64
dtypes: float64(3)
memory usage: 128.0+ bytes

In [ ]:
#Completando os valores faltantes usando fillna
#Pivotando os dados (coluna)
aux= dataframe.pivot(index = 'canal_venda', columns='site', values='acessos').fillna(0)
dataframe.pivot(index = 'canal_venda', columns='site', values='acessos').fillna(0)

site         site1  site2  site3
canal_venda
facebook     100.0    0.0  500.0
instagram      0.0  300.0    0.0
linkedin       0.0  400.0    0.0
twitter      200.0    0.0    0.0

In [ ]:
dataframe

  canal_venda  acessos   site   vendas  lista  nova_coluna
0    facebook      100  site1  1000.52    200            1
1     twitter      200  site1  1052.34    250            2
2   instagram      300  site2  2002.00    300            3
3    linkedin      400  site2  5000.00    800            4
4    facebook      500  site3   300.00    200            5

In [ ]:
# Mudando as colunas usando o comando melt
dataframe.melt(id_vars='site', value_vars=['canal_venda'])

    site     variable      value
0  site1  canal_venda   facebook
1  site1  canal_venda    twitter
2  site2  canal_venda  instagram
3  site2  canal_venda   linkedin
4  site3  canal_venda   facebook

Quando eu tenho 3 valores e quero agrupar tudo em uma unica coluna

In [ ]:
#Resetando o indice do dataframe
print(aux.columns)
aux = dataframe.reset_index()
print(aux.columns)

Index(['site1', 'site2', 'site3'], dtype='object', name='site')
Index(['index', 'canal_venda', 'acessos', 'site', 'vendas', 'lista',
       'nova_coluna'],
      dtype='object')

In [ ]:
dataframe

  canal_venda  acessos   site   vendas  lista  nova_coluna
0    facebook      100  site1  1000.52    200            1
1     twitter      200  site1  1052.34    250            2
2   instagram      300  site2  2002.00    300            3
3    linkedin      400  site2  5000.00    800            4
4    facebook      500  site3   300.00    200            5

In [ ]:
aux.reset_index()

   level_0  index canal_venda  acessos   site   vendas  lista  nova_coluna
0        0      0    facebook      100  site1  1000.52    200            1
1        1      1     twitter      200  site1  1052.34    250            2
2        2      2   instagram      300  site2  2002.00    300            3
3        3      3    linkedin      400  site2  5000.00    800            4
4        4      4    facebook      500  site3   300.00    200            5

In [ ]:
aux

   index canal_venda  acessos   site   vendas  lista  nova_coluna
0      0    facebook      100  site1  1000.52    200            1
1      1     twitter      200  site1  1052.34    250            2
2      2   instagram      300  site2  2002.00    300            3
3      3    linkedin      400  site2  5000.00    800            4
4      4    facebook      500  site3   300.00    200            5

In [ ]:
#Exemplo do comando melt
aux.melt(id_vars='canal_venda', value_vars =['site1', 'site2', 'site3'])

In [ ]:
dataframe

  canal_venda  acessos   site   vendas  lista  nova_coluna
0    facebook      100  site1  1000.52    200            1
1     twitter      200  site1  1052.34    250            2
2   instagram      300  site2  2002.00    300            3
3    linkedin      400  site2  5000.00    800            4
4    facebook      500  site3   300.00    200            5

In [ ]:
#Somando as colunas do dataframe
dataframe.sum()

canal_venda    facebooktwitterinstagramlinkedinfacebook
acessos                                            1500
site                          site1site1site2site2site3
vendas                                          9354.86
lista                                              1750
nova_coluna                                          15
dtype: object

In [ ]:
dataframe

  canal_venda  acessos   site   vendas  lista  nova_coluna
0    facebook      100  site1  1000.52    200            1
1     twitter      200  site1  1052.34    250            2
2   instagram      300  site2  2002.00    300            3
3    linkedin      400  site2  5000.00    800            4
4    facebook      500  site3   300.00    200            5

In [ ]:
#Somando as linhas do dataframe
dataframe.sum(axis = 1)

0    1301.52
1    1504.34
2    2605.00
3    6204.00
4    1005.00
dtype: float64

In [ ]:
#Calculando a mediana das colunas numericas
print('Por linha: ',dataframe.median(axis= 1) )
print('Por coluna: ', dataframe.median())

Por linha:  0    150.0
1    225.0
2    300.0
3    600.0
4    250.0
dtype: float64
Por coluna:  acessos         300.00
vendas         1052.34
lista           250.00
nova_coluna       3.00
dtype: float64

In [ ]:
#Calculando a media das colunas númericas
dataframe.mean()

acessos         300.000
vendas         1870.972
lista           350.000
nova_coluna       3.000
dtype: float64

In [ ]:
#Calculando o desvio padrão das colunas numericas
dataframe.std()

acessos         158.113883
vendas         1850.931024
lista           254.950976
nova_coluna       1.581139
dtype: float64

In [ ]:
#Usando o comando describe que calcula estatisticas descritivas para colunas numericas
dataframe.describe()

          acessos       vendas       lista  nova_coluna
count    5.000000     5.000000    5.000000     5.000000
mean   300.000000  1870.972000  350.000000     3.000000
std    158.113883  1850.931024  254.950976     1.581139
min    100.000000   300.000000  200.000000     1.000000
25%    200.000000  1000.520000  200.000000     2.000000
50%    300.000000  1052.340000  250.000000     3.000000
75%    400.000000  2002.000000  300.000000     4.000000
max    500.000000  5000.000000  800.000000     5.000000

In [ ]:
#Calculando a moda
dataframe.mode()

  canal_venda  acessos   site   vendas  lista  nova_coluna
0    facebook      100  site1   300.00  200.0            1
1         NaN      200  site2  1000.52    NaN            2
2         NaN      300    NaN  1052.34    NaN            3
3         NaN      400    NaN  2002.00    NaN            4
4         NaN      500    NaN  5000.00    NaN            5

In [ ]:
# Valor maximo por coluna
dataframe.max()

canal_venda    twitter
acessos            500
site             site3
vendas            5000
lista              800
nova_coluna          5
dtype: object

In [ ]:
#Valor minimo por coluna
dataframe.min()

canal_venda    facebook
acessos             100
site              site1
vendas              300
lista               200
nova_coluna           1
dtype: object

In [ ]:
#Printando o numero de unicos
dataframe.nunique()

canal_venda    4
acessos        5
site           3
vendas         5
lista          4
nova_coluna    5
dtype: int64

In [ ]:
#Contando valores unicos de uma coluna
dataframe['canal_venda'].value_counts()

facebook     2
instagram    1
linkedin     1
twitter      1
Name: canal_venda, dtype: int64

In [ ]:
#Valores unicos de uma coluna
dataframe['canal_venda'].unique()

array(['facebook', 'twitter', 'instagram', 'linkedin'], dtype=object)

In [ ]:
# Usando o groupby com valores numericos
dataframe.groupby('site')['acessos'].sum()

site
site1    300
site2    700
site3    500
Name: acessos, dtype: int64

In [ ]:
# Usando o groupby com valores numericos
dataframe.groupby('canal_venda')['acessos'].median()

canal_venda
facebook     300
instagram    300
linkedin     400
twitter      200
Name: acessos, dtype: int64

In [ ]:
# Usando o groupby com categoricos
dataframe.groupby('site')['canal_venda'].unique()

site
site1      [facebook, twitter]
site2    [instagram, linkedin]
site3               [facebook]
Name: canal_venda, dtype: object

In [ ]:
# Usando o groupby com categoricos
dataframe.groupby('site')['canal_venda'].first()

site
site1     facebook
site2    instagram
site3     facebook
Name: canal_venda, dtype: object

In [ ]:
#Usando o groupby com a função agg
dataframe.groupby('canal_venda').agg({'site': 'unique',
                                     'acessos': 'sum'})

                       site  acessos
canal_venda
facebook     [site1, site3]      600
instagram           [site2]      300
linkedin            [site2]      400
twitter             [site1]      200

In [ ]:
#Correlações entre variaveis
dataframe.corr(method = 'spearman')

              acessos    vendas     lista  nova_coluna
acessos      1.000000  0.000000  0.205196     1.000000
vendas       0.000000  1.000000  0.974679     0.000000
lista        0.205196  0.974679  1.000000     0.205196
nova_coluna  1.000000  0.000000  0.205196     1.000000

In [ ]:
dataframe

  canal_venda  acessos   site   vendas  lista  nova_coluna
0    facebook      100  site1  1000.52    200            1
1     twitter      200  site1  1052.34    250            2
2   instagram      300  site2  2002.00    300            3
3    linkedin      400  site2  5000.00    800            4
4    facebook      500  site3   300.00    200            5

In [ ]:
#Criando variaveis categoricas por fatia de variavel numerica
dataframe['categoria_vendas'] = pd.cut(dataframe['vendas'],
                                       bins= (0, 1500, 2000, 8000), 
                                       labels = ('0 a 1500', '1500 a 2000', '2000 a 8000'))

In [ ]:
dataframe

  canal_venda  acessos   site   vendas  lista  nova_coluna categoria_vendas
0    facebook      100  site1  1000.52    200            1         0 a 1500
1     twitter      200  site1  1052.34    250            2         0 a 1500
2   instagram      300  site2  2002.00    300            3      2000 a 8000
3    linkedin      400  site2  5000.00    800            4      2000 a 8000
4    facebook      500  site3   300.00    200            5         0 a 1500

In [ ]:
#Criando variavel categorica usando compressao de lista
dataframe['categoria_acessos'] = ['maior_que_300' if x > 300 else 'menor_que_300' for x in dataframe['acessos']]

In [ ]:
dataframe

  canal_venda  acessos   site  ...  nova_coluna  categoria_vendas  categoria_acessos
0    facebook      100  site1  ...            1          0 a 1500      menor_que_300
1     twitter      200  site1  ...            2          0 a 1500      menor_que_300
2   instagram      300  site2  ...            3       2000 a 8000      menor_que_300
3    linkedin      400  site2  ...            4       2000 a 8000      maior_que_300
4    facebook      500  site3  ...            5          0 a 1500      maior_que_300

[5 rows x 8 columns]

In [ ]:
#Juntando dois dataframes | Criando o dataframe_2
dataframe_2 = pd.DataFrame({'site': ['site1', 'site1', 'site2', 'site2', 'site3'],
               'suporte': ['Carlos', 'Carlos', 'Maria', 'Maria', 'Ezequiel']})

In [ ]:
#Realizando o merge
dataframe.merge(dataframe_2, on = 'site', how = 'left')

  canal_venda  acessos   site  ...  categoria_vendas  categoria_acessos   suporte
0    facebook      100  site1  ...          0 a 1500      menor_que_300    Carlos
1    facebook      100  site1  ...          0 a 1500      menor_que_300    Carlos
2     twitter      200  site1  ...          0 a 1500      menor_que_300    Carlos
3     twitter      200  site1  ...          0 a 1500      menor_que_300    Carlos
4   instagram      300  site2  ...       2000 a 8000      menor_que_300     Maria
5   instagram      300  site2  ...       2000 a 8000      menor_que_300     Maria
6    linkedin      400  site2  ...       2000 a 8000      maior_que_300     Maria
7    linkedin      400  site2  ...       2000 a 8000      maior_que_300     Maria
8    facebook      500  site3  ...          0 a 1500      maior_que_300  Ezequiel

[9 rows x 9 columns]

In [ ]:
#Salvando o dataframe como csv
dataframe.to_csv('dataframe.csv', sep = ';', decimal = ',', index = False)

In [ ]:
#Lendo dados no formato csv
dataframe_lido = pd.read_csv('dataframe.csv', sep = ';', decimal = ',')

In [ ]:
dataframe_lido.head()

  canal_venda  acessos   site  ...  nova_coluna  categoria_vendas  categoria_acessos
0    facebook      100  site1  ...            1          0 a 1500      menor_que_300
1     twitter      200  site1  ...            2          0 a 1500      menor_que_300
2   instagram      300  site2  ...            3       2000 a 8000      menor_que_300
3    linkedin      400  site2  ...            4       2000 a 8000      maior_que_300
4    facebook      500  site3  ...            5          0 a 1500      maior_que_300

[5 rows x 8 columns]

In [ ]:
json = pd.read_json('https://pricing.us-east-1.amazonaws.com/offers/v1.0/aws/index.json')

In [ ]:
json['offers'][99]

{'currentRegionIndexUrl': '/offers/v1.0/aws/AmazonKinesisVideo/current/region_index.json',
 'currentVersionUrl': '/offers/v1.0/aws/AmazonKinesisVideo/current/index.json',
 'offerCode': 'AmazonKinesisVideo',
 'versionIndexUrl': '/offers/v1.0/aws/AmazonKinesisVideo/index.json'}

In [ ]:
json.reset_index(inplace = True)

In [ ]:
json['index']

0                    A4B
1             AWSAmplify
2             AWSAppSync
3              AWSBackup
4             AWSBudgets
             ...
149    comprehendmedical
150         datapipeline
151      mobileanalytics
152           transcribe
153            translate
Name: index, Length: 154, dtype: object

## Imputação de dados

Imputar dados é mais ou menos recuperar uma informação daqueles dados faltantes

Ter a noção também se vale a pena recuperar essa informação, se vai ser relevante. Lembrar sempre de ter senso critico.

In [9]:
df = pd.read_csv('https://raw.githubusercontent.com/luislauriano/Aceleracao_Data_Science/master/data/train.csv')

In [10]:
aux = pd.DataFrame({'colunas': df.columns,
                    'tipos': df.dtypes,
                    'percentual_faltante': df.isna().sum() / df.shape[0]})

In [11]:
aux

                 colunas    tipos  percentual_faltante
PassengerId  PassengerId    int64             0.000000
Survived        Survived    int64             0.000000
Pclass            Pclass    int64             0.000000
Name                Name   object             0.000000
Sex                  Sex   object             0.000000
Age                  Age  float64             0.198653
SibSp              SibSp    int64             0.000000
Parch              Parch    int64             0.000000
Ticket            Ticket   object             0.000000
Fare                Fare  float64             0.000000
Cabin              Cabin   object             0.771044
Embarked        Embarked   object             0.002245

In [13]:
moda = df['Age'].mode()

In [14]:
#Dados númericos : média ou mediana
df['Age'] = df['Age'].fillna(moda)

Ou poderia ser feito:

In [16]:
#Dados númericos : média ou mediana
df['Age'] = df['Age'].fillna(df['Age'].mode())

In [ ]:
#Dados categoricos: Unknown ou moda
df['Cabin'] = df['Cabin'].fillna('Unknown')

In [ ]:
df['Cabin'].value_counts()

In [ ]:
df.shape[0]